<mat-card class="example-card">
    <mat-card-content>
        <div class="poster-image">
            <agm-map 
                [latitude]="lat" 
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [streetViewControl]="false"
                [styles]="style">
            </agm-map>
        </div>        
    </mat-card-content>
    <mat-card-actions>

        <div fxLayoutAlign="space-around">            
            <h3>{{poster.moment | uppercase }}</h3>
        </div>
        
        
    </mat-card-actions>
</mat-card>