.bounds {
    height: 800px;
}
.sec1 {
    color: white;
    background: deepskyblue;
}
.sec2 {
    background: deeppink;
}
.sec3 {
    background: darkgoldenrod;
}

.content {
    min-width: 300px;
}