<app-editor [style]="selectedStyle" [poster]="poster"></app-editor>

<mat-tab-group class="demo-tab-group">
    <mat-tab label="Place">
        <ng-template mat-tab-label>
            <mat-icon aria-label="Place">location_on</mat-icon>
            <span>Place</span>
        </ng-template>
        <div class="demo-tab-content">
          <div fxLayoutAlign="space-around">
            <h3>1. Choose your place</h3>
          </div> 
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Find a location anywhere in the world" value="">
                </mat-form-field>
            </form>
              
        </div>
    </mat-tab>
    <mat-tab label="Moment">
        <ng-template mat-tab-label>
            <mat-icon aria-label="Moment">text_format</mat-icon>
            <span>Moment</span>
        </ng-template>
        <div class="demo-tab-content">
            <div fxLayoutAlign="space-around">  
              <h3>2. Name your moment</h3>
            </div>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="poster.moment" name="moment" matInput placeholder="Give your most memorable moment a name" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="poster.location" name="location" matInput placeholder="Location: City - Country" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="poster.address" name="address" matInput placeholder="Location: Address" value="">
                </mat-form-field>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Design">
        <ng-template mat-tab-label>
            <mat-icon aria-label="Design">brush</mat-icon>
            <span>Design</span>
        </ng-template>
        <div class="demo-tab-content">
            <h3 fxLayoutAlign="center">3. Select your design</h3>
            

            <div style="margin:20px 0" fxLayoutAlign="space-around">
                
                    <button *ngFor="let style of styles" 
                            [class.selected]="style === selectedStyle" 
                            (click)="onSelect(style)"
                            [class.snow]="style.name == 'snow'"
                            [class.moon]="style.name == 'moon'"
                            [class.granite]="style.name == 'granite'"
                            [class.mint]="style.name == 'mint'"
                            mat-fab>
                        <mat-icon aria-label="style">location_on</mat-icon>
                    </button>
                
                </div>

            <!--
            <button mat-fab class="moon">
                <mat-icon aria-label="Moon style">location_on</mat-icon>
            </button>
            <button mat-fab class="granite">
                <mat-icon aria-label="Granite style">location_on</mat-icon>
            </button>
            <button mat-fab class="mint">
                <mat-icon aria-label="Mint style">location_on</mat-icon>
            </button>
            -->


        </div>
    </mat-tab>
</mat-tab-group>